PORT=80
DATABASE_URL=''
GCS_STATIC_BUCKET_NAME=""
SESSION_SECRET=""
NEXT_PUBLIC_ROOT_URL=""
NEXT_PUBLIC_RECAPTCHA_KEY=""
SMTP_HOSTNAME="smtp.mailgun.org"
SMTP_PORT=587
SMTP_USERNAME=""
SMTP_PASSWORD=""
NEXT_PUBLIC_TELEGRAM_BOT_NAME=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHANNEL_USERNAMES=""
FB_PAGE_ACCESS_TOKEN=""
SHARING_FB_PAGES=''
FB_PAGE_ID=""
MAILGUN_API_KEY=""
ADS_TXT=""
GOOGLE_APPLICATION_CREDENTIALS="credentials.json"
GOOGLE_CREDENTIALS=''